#!/usr/bin/env bash

if [[ "$(uname)" == "Linux" ]]; then
  v="--sort=version" # (-v) Natural sort of (version) numbers within text
  A="--almost-all" # (-A) Show 'dotfiles' without . and ..
  F="--classify" # (-F) Append file-type indicator
  alias ls="ls $v $A $F --color=always"
  alias ll="ls -l --all --human-readable" # (-lah) Print sizes with unit
  alias llf="ll --inode --size" # (-is) Show index number, allocated size
  alias llt='ll --time-style="+%Y-%m-%d %H:%M:%S"' # Format time
  alias llat="llt --sort=time --time=atime" # (-tu) sort by, and show, access time
  alias llmt="llt --sort=time" # (-t) sort by, and show,  modification time
  alias llct="llt --sort=time --time=ctime" # sort by, and show, status change time
elif [[ "$(uname)" == "Darwin" ]]; then
  alias ls="ls -AFG" # Use'LSCOLORS' for Mac
  alias ll="ls -lahT" # -T  Display complete time
  alias llf="ll -is" # Show index number, allocated size
  alias llat="ll -tu" # sort by, and show, access time
  alias llmt="ll -t" # sort by, and show,  modification time
  alias llct="ll -tc" # sort by, and show, status change time
fi

# When 'cd' run, 'ls' run too
function cdls() { \cd "$@" && ls; }
alias cd="cdls"

# When 'mkdir' run, 'cd $_' run too
function mkdircd() { \mkdir -p "$@" && cd "$_"; }
alias mkdir="mkdircd"

# Mark up the matching text
alias grep="grep --color=always"
alias fgrep="fgrep --color=always"
alias egrep="egrep --color=always"

# Use extended regular expression
alias esed="sed -E"

# Opts: Interactive, Recursive, Verbose, Preserve-attributes
alias rm="rm -i"
alias cp="cp -iRvp"
alias scp="scp -p"
alias mv="mv -iv"

# Short names
alias d="docker"
alias di="docker image"
alias dk="docker container"
alias dc="docker-compose"
alias dce="docker-compose exec"
alias g="git"
alias vg="vagrant"

# Reload the current shell
alias reload="exec "${SHELL}" -l"

# Start-up an Application
alias chrome='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome'
