#!/bin/bash

# When 'mkdir' run, 'cd' run too
# -p: Create intermediate directories as required
function mkdircd() { \mkdir -p $@ && cd $_; }

# When 'cd' run, 'ls' run too
function cdls() { 
  if [ $(uname) = Darwin ]; then
    \cd "$@" && ls -aG;
  elif [ $(uname) = Linux ]; then
    \cd "$@" && ls -a --color=auto;
  fi;
}
