# Config file
.DS_Store

# phpenv file
.php-version

# Python venv files
env/

# Pyenv file
.python-version

# Pipenv file
.venv

# Python compiled byte code
*.pyc

# SQLite3 database
*.sqlite3

# VSCode remote container
.devcontainer/
.vscode/
