# This is Git's per-user configuration file. --global
[alias]
  a = add
  aa = add -A
  b = branch
  c = commit
  cf = config
  co = checkout
  cp = cherry-pick
  d = diff
  f = fetch
  l = log
  m = merge
  p = push
  poh = push origin HEAD
  r = reset
  rs = reset --soft
  rsh = reset --soft HEAD^
  rh = reset --hard
  rhh = reset --hard HEAD^
  rb = rebase -i
  s = status

[user]
	name = zuka-e
	email = 52391918+zuka-e@users.noreply.github.com

[color "branch"]
  current = red bold
  local = green
  remote = yellow

[color "diff"]
  meta = cyan
  frag = magenta
  old = red
  new = green

[core]
  # You can make global .gitignore
  excludesfile = ~/dotfiles/.gitignore
