# This is Git's per-user configuration file. --global
[alias]
  a = add
  aa = add -A
  b = branch
  c = commit
  cm = commit -m
  cf = config
  cfle = config --local user.email
  cfln = config --local user.name
  co = checkout
  cp = cherry-pick
  d = diff
  f = fetch
  l = log
  ls = log --stat
  m = merge
  p = push
  po = push origin
  pl = pull
  plo = pull origin
  r = reset
  rs = reset --soft
  rsh = reset --soft HEAD^
  rh = reset --hard
  rhh = reset --hard HEAD^
  rb = rebase -i
  s = status
  sl = shortlog

[user]
	name = zuka-e
	email = 52391918+zuka-e@users.noreply.github.com

[color]
  ui = true

[color "branch"]
  current = red bold
  local = green
  remote = yellow

[color "diff"]
  meta = cyan
  frag = magenta
  old = red
  new = green

[core]
  # You can make global .gitignore
  excludesfile = ~/dotfiles/.gitignore
