#!/usr/bin/env bash

# See the current settings using `bind -p`.

# `\C`: ctrl
# `\e`: esc (meta)

# Default
"\C-g": abort
"\C-m": accept-line
"\e\C-h": backward-kill-word
"\eu": upcase-word
"\C-x\C-u": undo
"\C-_": undo
"\e.": yank-last-arg

"\C-l": kill-word
