#!/usr/bin/env bash

# Default
"\C-g": abort
"\C-m": accept-line
"\e\C-h": backward-kill-word
"\eu": upcase-word
"\C-x\C-u": undo
"\C-_": undo

# Unbind
"\C-j": 

# Run 'stty lnext undef' in .bashrc
"\C-v": insert-last-argument

"\C-j\C-u": undo

"\C-j\C-f": forward-word
"\C-j\C-d": kill-word

"\C-j\C-b": backward-word
"\C-j\C-h": backward-kill-word
